html,
body {
    height: 100%;
    width: 100%;
}

svg.dice {
    position: absolute;
    pointer-events: none;
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}